a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  color: white;
}
a:active {
  color: blue;
}

footer {
    background-color: #464647;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom:0;
}




.menu {
    overflow: hidden;
    background-color: #464647;
    position: fixed;
    top: 0;
    width: 100%;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.menu a:hover {
    background: #ddd;
    color: black;
}
