a:link {
  color: blue;
}
a:visited {
  color: blue;
}
a:hover {
  color: white;
}
a:active {
  color: blue;
}

footer {
    background-color: #464647;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom:0;
}
